<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{layout/layout::library}"/>
</head>
<body>
<th:block th:insert="~{layout/layout::myMavbar}"/>
<h1>Thêm mới</h1>
<form action="/students/add" method="post" th:object="${studentDto}">
<!--    Id: <input th:field="*{id}"><br>-->
    Name: <input  th:field="*{name}"><br>
    <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small><br>
    Gender <input  type="radio" th:field="*{gender}" value="1">Male
    <input type="radio" th:field="*{gender}" value="0">Female
    <button>Save</button>
</form>
</body>
</html>